*{
    font-family: sans-serif;
}

ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.componentsButton {
    list-style: none;
    padding: 10px;
    color: white;
    background-color: brown;
    cursor: pointer;
    transition: 0.5s;
}
.componentsButton:hover {
    transform: scale(0.9)
}

.componentsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    padding: 3rem;
    background-color: darkgoldenrod;
}

.component {
    aspect-ratio: 1;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid saddlebrown;
}